@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

.main {
  font-family: inter;
  display: flex;
  height: 100vh;
}
.left {
  font-family: inter;
  width: 20%;
  padding: 10px;
}
.left h3 {
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
}
.left h4 {
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
}
.left h4:hover {
  background-color: black;
  color: #9a9a9a;
  /* transition: background-color 0.3s ease-in-out; */
}
.right {
  width: 80%;
  padding: 10px;
}
.dosen {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.listDosen {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}
