@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

.main {
  font-family: inter;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dosen {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.listDosen {
  display: flex;
  flex-direction: column;
}

.backHome{
    margin-top: 10rem;
}
