@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

.inter {
  font-family: inter;
}

.main {
  font-family: inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1rem;
  width: 95%;
  margin: auto;
}
.form {
  width: 100%;
  font-family: inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 20px;
  /* background-color:darkseagreen; */
}

.parameter {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* background-color: aqua; */
  width: 100%;
}
.ul select {
  width: auto;
  border-radius: 10px;
  height: 40px;
  display: flex;
  cursor: pointer;
}

.ul {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  /* background-color: #0265d6; */
}
.ulItem {
  display: flex;
}

.result {
  width: 100%;
  margin-bottom: 3rem;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.table-container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e3e3e3;
}

.skor {
  text-align: center;
  vertical-align: middle;
}

.error {
  background-color: #300313;
  color: #bc1b53;
  height: auto;
  width: auto;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
}
.warning {
  background-color: #3a2503;
  color: #b57919;
  height: auto;
  width: auto;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
}
.primary {
  background-color: #10253e;
  color: #0265d6;
  height: auto;
  width: auto;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
}
.success {
  background-color: #042f14;
  color: #38d079;
  height: auto;
  width: auto;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: inter;
}

.break {
  word-break: break-all;
}

/* phone */
@media (max-width: 500px) {
  .main {
    width: 100%;
  }
  .ul {
    padding: 0;
  }
  .form {
    padding: 0;
  }
  .parameter {
    padding: 0;
  }
}

/* tab */
@media (max-width: 800px) {
  .main {
    width: 90%;
  }
  .ul {
    padding: 0;
  }
  .form {
    padding: 0;
  }
  .parameter {
    padding: 0;
  }
}
