@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

.main {
  font-family: inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form {
  font-family: inter;
  background-color: #091027;
  color: #9A9A9A;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px;
}
